#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
name: build-check

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  modular_build:
    name: Modular build on ubuntu-latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature_publication: [1, 0]
        feature_subscription: [1, 0]
        feature_queryable: [1, 0]
        feature_query: [1, 0]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run docker image
      run: docker run --name zenoh_router --init --net host -d eclipse/zenoh:master
      continue-on-error: true

    - name: Build project
      run: |
        make all
        python3 ./build/tests/modularity.py --pub $Z_FEATURE_PUBLICATION --sub $Z_FEATURE_SUBSCRIPTION --queryable $Z_FEATURE_QUERYABLE --query $Z_FEATURE_QUERY
      continue-on-error: true
      env:
        Z_FEATURE_PUBLICATION: ${{ matrix.feature_publication }}
        Z_FEATURE_SUBSCRIPTION: ${{ matrix.feature_subscription }}
        Z_FEATURE_QUERYABLE: ${{ matrix.feature_queryable }}
        Z_FEATURE_QUERY: ${{ matrix.feature_query }}
    
    - name: Stop docker image
      run: |
        docker stop zenoh_router
        docker rm zenoh_router